/*笔记*/
/*大标题*/
t1{
display:block;
color:#B8BBDE;
font-size:48px
}
/*小标题*/
t2{
display:inline-block;
width:auto;
text-align:center;
padding:0.1rem 2rem;
box-shadow:0px -100px hsla(218,88%,76%,40%) inset;
border-radius:40px
}
/*强调*/
t3{
color:#FA8072
}



/*重点*/
l1{
box-shadow:0px -100px #FCECA3 inset;
}
n1{
color:#D7B29E
}
/*补充*/
n2{
color:#C3BED4
}

/*开关*/
      .kaiguan{
             position: absolute;
             top: 20px;
             right: 50px;
             width: 40px;
             height: 20px;
             border: 2px solid black;
             border-radius: 20px;
             cursor: pointer;
             transition: all 3s;
zoom:2.3;
}

        
         .bai{ 
             position: absolute;
             top: 1.5px;
             left: 2px;
             height: 13px;
             width: 13px;
             background-color: rgb(0, 0, 0);
             border-radius: 50%;
             transition: all 1s;
         }
        .hei{
           
             position: absolute;
             top: 1.5px;
             right: 2px;
             height: 13px;
             width: 13px;
             background-color: rgb(11, 243, 81);
             border-radius: 50%;
             transition: all 1s;
         }
        
/*关键词*/
k {
border-style:none none solid none;
border-bottom:2px solid cornflowerblue;
padding-bottom:2px;
}



