*{
-moz-user-select: none; 
-webkit-user-select: none;  
-ms-user-select: none;      
-khtml-user-select: none;  
user-select: none;   
-webkit-tap-highlight-color:transparent;
outline:none;
}
html{
font-size:16px;
}
body{
margin:0;
font-size:1.8rem;
line-height:5rem;
background:rgb(246,246,246);
width:100%;
left:0;
top:0;
font-family:arial;
position: relative;
transition: all 1s;
font-size:1.7rem;
display:flex;
flex-direction:column;
}
#down{
padding:2rem;
}
#up{
font-size:2.2rem;
word-break: break-all; 
padding:5rem;
}

svg{
display:inline-block;
line-height:6rem;
align-items: center;
border:none;
width: 3rem;
height: 3rem;
border-radius: 50%;
margin:auto 0 auto 0;
overflow: visible;
color:black;
}
article{
display:block;
color:#666;
text-align:justify; 
text-justify:inter-ideograph;
font-family: 微软雅黑;
font-size:1.7rem !important;
padding:0;
margin:5rem 0;
}

article-title{
font-weight:666;
font-size:1.8rem
color:black ;
text-align:center ;
display:block;
font-size:3.6rem;
}
.tool_nav{
margin-top:20rem;
}
article-intro{
display:block;
height:10%;
width:100%;
background:rgba(255,255,255,0.5)
color:#404040;
line-height:6rem;
font-size:80%;
margin-top:3rem;
margin-bottom:4rem;
position:relative
}
.appear1{
position:relative;
border:none;
background:url(' https://www.hualigs.cn/image/6114c0cf44e43.jpg');
width: 100%;
height: 40%;
  animation-name: down;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
zoom:-1;
}
.appear2{
position:relative;
background:white;
margin:2.4rem auto;
padding:2.4rem;
font-size:2.7rem;
border-radius: 25px;
-webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
width:90%;
min-height:60%;
  animation-name: up;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
.show{
position:relative;
}
@keyframes down {
  0%   { left:0px; top:-40%;}
  100% { left:0px; top:0px;}
}
@keyframes up {
  0%   { left:0px;bottom:-60%;}
  100% { left:0px; bottom:0%}
}




.tool_nav{
width:100%;
display: -webkit-flex;
display: flex;
justify-content: space-around;
margin-bottom:5rem;
}


#comment{
display:inline-block;
font-size:2.4rem;
width:6rem;
height:3.5rem;
padding:1rem 3rem;
margin:auto 32px;
line-height:3.5rem;
text-align:center;
transition-duration:0.4s;
background:rgba(1,102,255,70%);
color:white !important;
text-decoration:none;
border:none;
border-radius: 20px;
}

#comment:hover{
background-color:rgba(1,102,255,100%);
border:none;
color: white;
}

#spread{
font-size:2.4rem;
width:12rem;
height:auto 32px;
padding:1rem 3rem;
margin:auto;
text-align:center;
background-color: #f5f5f5;
 color:black;
border:none;
text-decoration:none;
 border-radius: 20px;
transition-duration:0.4s;
}

#spread:hover{
background-color:rgba(1,102,255,100%);
border: none;
color: white;
}




.tool_hidden_nav{
display:none;
}
.more-button{
font-size:2.4rem;
height: auto;
margin: auto 32px;
text-align:center;
width:5rem;
 transition-duration:0.4s;
 padding: 20px 32px;
 text-align:center;
 background:transparent;
 color:rgb(84,89,93);
text-decoration:none;
 border:none;
 border-radius: 20px;
}

.more-button:hover .tool_hidden_nav{
display: -webkit-flex;
display: flex;
flex-direction:row;
position: fixed;
justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
             bottom: 0px;
             right: 0px;
             width: 100%;
             height: 12%;
z-index:1;
box-shadow: 0px 0px 0px 2500px rgba(0, 0, 0, 0.3);
background:white;
}

#correction{
font-size:2.3rem;
width:16rem;
text-align:center;
transition-duration:0.4s;
margin: 0 4rem;
 padding:20px 32px;
 text-align:center;
 background-color: #f5f5f5;
 color:black;
 border:none;
 border-radius: 20px;
}
#correction:hover{
background-color:rgba(1,102,255,70%);
border:none;
color: white;
}



#approve-rate-watch{
font-size:2.3rem;
width:14rem;
text-align:center;
margin: 0 4rem;
 transition-duration:0.4s;
 padding: 20px 32px;
 text-align:center;
 background:#4CAF50;
 color:white;
text-decoration:none;
 border:none;
 border-radius: 20px;
}

#approve-rate-watch:hover{
 background-color:rgba(1,102,255,100%);
border:none;
color: white;
}

/* 复制申请*/
fork-request{
display:inline-block;
font-size:2.3rem;
width:16rem;
height:3.5rem;
line-height:3.5rem;
padding:20px 20px;
margin: 0 4rem;
text-align:center;
transition-duration:0.4s;
background-color: #f5f5f5;
 color:black;
 border:none;
 border-radius: 20px;
}

fork-request:hover{
background-color:rgba(1,102,255,100%);
border:none;
color:white;
}
fork-require{display:none;}
fork-request:hover fork-require{
text-align:left;
font-size:2.3rem;
color:black;
position:fixed;
display:block;
margin:auto;
padding:4rem 3rem;
left:0;
right:0;
top:0;
bottom:0;
height:30%;
width:70%;
background:white;
-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
z-index:3;
}
#copy-area{
display:none;
}
#copy-allow{
font-size:2.2rem;
position:absolute;
left:0rem;
bottom:5rem;
width:auto;
height:; 
padding:1rem 2rem;
text-align:center;
transition-duration:0.4s;
margin: auto 3rem;
 background-color: #f5f5f5;
 color:black;
 border:none;
 border-radius: 20px;
}
#copy-allow:hover{
background-color:rgba(1,102,255,100%);
border:none;
color:white;
}
#copy-button{
font-size:2.3rem;
position:absolute;
right:0rem;
bottom:5rem;
width:auto;
display:none;
 -webkit-transition-duration:0.4s;
 transition-duration:0.4s;
height:auto; 
padding:1rem 3rem;
text-align:center;
margin: auto 4rem;
 background-color: #F4F4F4;
 color:black;
 border:none;
 border-radius: 20px;
}

#copy-button:hover{
background-color:rgba(1,102,255,100%);
border:none;
color:white;
}
#copy-area{
font-size:2rem;
font-family:Arial;
background:#222;
color:#888;
width:100%;
border-radius: 8px;
outline:none;
margin-top:3rem;
overflow:auto;
max-height:36rem;
}
#copy-finish{
display:none;
position:fixed;
right:0;
left:0;
top:10%;
width:10rem;
margin:0 auto;
padding: 16px 32px;
text-align:center;
font-size:100%;
 background-color:#4CAF50;
 color: white;
 border-radius: 50px;
z-index:5
}





/*预览or呼出式解释补充*/
note{
display:none;
}
dfn{
font-style:normal;
color:#D7B29E !important;
}
abbr:hover note{
position:absolute;
display:block;
color:black;
background:white;
-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
padding:1.4rem;
z-index:3;
border-radius:10px;
}
dfn:hover note{
font-size:2.4rem;
position:absolute;
display:block;
color:black;
background:white;
-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
padding:1.4rem;
z-index:3;
border-radius:10px;
}
indent{
padding-left:2.7rem;
}
u{
padding:0.1rem 0rem;
text-decoration:none;
border-bottom:solid 3px cornflowerblue;
padding-bottom:2px;
}
u:hover{
border-bottom:solid 1px #6483B0;
}
ol{
color:rgb(1,150,94) !important;
}

.reference-index span{
color:#6483B0;
vertical-align:super;
margin:0 0.2rem 0 0rem;
zoom:0.5;
}
.reference{
font-size:0.9rem;
text-align:justify; 
text-justify:inter-ideograph;
padding:0rem 0;
margin:0.3rem 0;
color:black;
text-decoration:none;
outline:none;
user-select: none;
}



table {
font-size:100%;
color:#333333;
width:100%;
border-width: 1px;
border-color: rgba(84,100,93,18%);
border-collapse: collapse;}
table.tftable th {
font-size:100%;
background-color:rgb(245,247,246);
border-width: 1px;
padding: 8px;
border-style: solid;
border-color: rgba(84,100,93,18%);
text-align:left;
}
table tr {
background-color:#ffffff;
}
table td {
font-size:100%;
border-width: 1px;
padding: 8px;
border-style: solid;
border-color: rgba(84,100,93,18%);
}


h3,h4,h5{
color:black}





h1{
color:#e69138;
font-size:3rem;
text-align:center;
}
h2{
display:inline-block;
width:auto;
text-align:center;
padding:0.5rem 2rem;
color:black;
box-shadow:0px -100px hsla(218,88%,76%,40%) inset;
border-radius:50px;
font-weight:normal;
font-size:2.7rem
}	
n,dfn{
color:rgb(100,148,229) !important;
}
dfn:hover{
color:#6483B0 !important;
}
a{
color:black;
text-decoration:none;
}
a:hover{
color:#6483B0;
border-bottom:solid 2.4px #6483B0;
}

code,pre,textarea{
font-family:Arial;
font-size:1.7rem !important;
line-height:3.5rem
}
blockquote{
font-size:1.7rem;
color:#b23c5b;
background:rgb(246,246,246);
margin:2rem 0;
padding: 2rem;
}
textarea{
color:#b23c5b;
background:rgb(246,246,246);
margin:2rem 0;
padding: 2rem;
width:100%;
border:none;
}
	
l{
box-shadow:0px -35px rgba(258,233,100,100%) inset;
display:inline-block;
line-height:4rem;
font-size:2.7rem;
padding:0;
}
