	
#tex-nav{
display:none
}
#chooseH-button{
display:none;
}
#menu-select{
display:none;
}


/*弹出式菜单*/
.menuLink_1{
width: 150px; 
height: 150px; 
border-radius: 50%;
position: fixed;
right:6.6rem;
bottom:24rem;
-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
color: black;
font-size:4.5rem;
font-weight:900;
display:block;
text-align:center;
font-weight:400;
text-decoration:none;
background:white;
z-index:4;
zoom:0.8
}
.menuLink_2 {
width: 120px; 
height: 120px; 
border-radius: 50%;
-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
position: fixed;
right:5rem;
bottom:30rem;
color: black;
font-weight:400;
font-size: 4rem;
text-align:center;
line-height:120px;
align-items: center;
text-decoration:none;
background:white;
z-index:4;
}

#menu-ul{
font-size:2.7rem;
padding:0 0rem;
overflow: auto; 
background-color: rgba(255,255,255,100%);
width:50%;
display: none;
top:0px;
height:100%;
position: fixed;
z-index: 3;
-webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
}
ul{
list-style-type: none;
margin: 0;
padding: 2.5rem 0rem 0rem 0rem;
transition: all 2s;
left: 0px;
}
#menu-ul h1{
font-size:2.7rem;
margin-left: 0rem !important;
}
#menu-ul h2{
color:#555;
font-size:2.7rem;
margin-left: 1.5rem !important;
}
#menu-ul h3{
color:#555;
font-size:2.7rem;
margin-left:3rem !important;
}
#menu-ul h4{
color:#555;
font-size:2.7rem;
margin-left: 4.5rem !important;
}
#menu-ul h5{
color:#555;
font-size:2.7rem;
margin-left:6rem !important;
}
#menu-ul h6{
color:#555;
font-size:2.7rem;
margin-left:7.5rem  !important;
}
#menu-ul li{
}
li{
list-style-type: none;
}
li img{
width:20px;
height:20px;
}
a{
color:black;
text-decoration:none;
}
li a{
padding:1.2rem 2rem !important;
display: block;
  }
li a:link {
}
li a:visited {
}
li a:hover{  
background:rgba(1,102,255,30%);
}
li a:active {
}
ul summary{
padding:1.2rem 3.4rem;
outline:none;
}

ul summary:hover{
background:rgba(1,102,255,30%);
}

